body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#container{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:16px;
 
}
#title{
  font-size:3rem;
  font-weight:600;
}
#numbers{
  font-size:3.5rem;
  font-weight: 700;
}
#buttons{
  display:flex;
  gap:10px;
}
.button{
  padding:6px 25px;
  font-weight:300;
  font-size: 1.1rem;
  border:1px solid black;
  border-radius: 5px;
}
@media (min-width:768px){
  #container{
    transform:scale(2);
  }
}
@media (min-width:1500px){
  #container{
    transform:scale(3.5);
  }
}