html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --nav-height:50px;
  
}
main{
  width:100vw;
  height:100vh;
}
nav{
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding:0 10px;
  height: var(--nav-height);
  font-weight:300;
  box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.199);
  background: #fff;
}
#functions{
  display: flex;
  align-items: center;
  gap:10px;
}
#container{
  height:calc(100vh - var(--nav-height));
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:10px;
  background: rgba(274,260,270,0.319);
}
#background-text{
  background: black;
  padding: 10px;
  border-radius:4px;
  color:white;
  font-size: 23px;
  font-weight: 600;
}
.color{
  color: lightblue;
}
#button-el{
  background: transparent;
  border:1px solid black;
  color:black;
  border-radius: 5px;
  padding:5px 20px;
  font-size:20px;
  transition: all .5s;
}
#button-el:active{
  color:white;
  background: black;
  border:none;
  border-radius: 5px;
  cursor: pointer;
}
#color-flip-el{
  color:lightblue;
}
a{
  text-decoration:none;
  color:black;
  font-weight: 200;
}
a:focus{
  color:lightblue;
}
