html, body{
  margin: 0;
  padding: 0;
  background: #ced0e2;
  font-family: 'Poppins', sans-serif;
}
:root{
  --toogle-switch-bg:#232428;
  --toogle-border:#232428;
  --toogle-size:40px;
  --toogle-level:100px;
  --toogle-bg:#fff;
}
.toogle-wrap{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toogle-input{
  display: none;
}
label{
  width:var(--toogle-level);
  height: var(--toogle-size);
  background:var(--toogle-bg);
  border:3px solid var(--toogle-border);
  border-radius: 40px;
  padding:.25em;
}
.toogle-switch{
  height:var(--toogle-size);
  width: var(--toogle-size);
  background: var(--toogle-switch-bg);
  border-radius:50%;
  transition: all .5s;
}
.toogle-input:checked ~ .toogle-switch {
 transform: translateX(calc(var(--toogle-level) - var(--toogle-size)));
 /* background: red;*/
}