body{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
#container{
  width:300px;
  height:300px;
  display: flex;
  background: black;
  border-radius: 9px;
  margin: 0;
  padding: 0;
  align-items:center;
  justify-content: center;
  
}
#all-profiles{
  display:flex;
  justify-content: center;
  align-items: space-around;
}
.image-border{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1.1px;
  background: linear-gradient(to bottom left,violet,purple,red,orange,#d9cc77);
  border-radius:50%;
  margin:5px;
  z-index:-1;
}
.image-wraper{
  width:50px;
  height:50px;
  border:2px solid black;
  border-radius: 50%;
}
#profile2{
  position: relative;
}
img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
#profile2 > .image-border{
  background: darkgray;
}
.profile-name{
  color: white;
  
  margin:4px;
  text-align:center;
}
#live{
  padding:2px 4px;
  position: absolute;
  background: red;
  color: white;
  font-size:10px;
  border-radius: 2px;
  top:59%;
  left:23px;
}