body{
  margin: 0;
  padding: 0;
  background: black;
}
.container{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
:root{
  --border-radius:120px;
  --progress-bar-width:300px;
  --progress-bar-height:40px;
}
#progress-bar{
  height:var(--progress-bar-height);
  width:var(--progress-bar-width);
  background: #ffffffd0;
  border-radius:var(--border-radius);
  overflow: hidden;
}
.progress-status{
  height:var(--progress-bar-height);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  margin:0;
  padding: 0;
}
.stages-4{
  width:0;
  animation:progress 5s linear 1;
  border-radius:var(--border-radius);
}
@keyframes progress{
  0%{
    width:0;
    background: red;
  }
  25%{
    width:80px;
    background: red;
  }
  50%{
    width:140px;
    background: orange;
  }
  75%{
    width:200px;
    background: greenyellow;
  }
  100%{
    width:calc(var(--progress-bar-width) / 1);
    background: darkgreen;
  }
}