body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle{
  width:48px;
  height: 48px;
  border:12px solid #52525233;
  border-top-color: #2782b4bd;
  border-radius: 50%;
  animation: anm 1.5s linear infinite;
}
@keyframes anm{
  from{
    
  }
  to{
    transform:rotate(360deg);
  }
}