body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
#container{
  height:200px;
  width:calc(200px * 5 / 3);
    display: grid;  
   /* grid-template-columns: repeat(3,1fr); */
  /* display: flex;
   flex-wrap: wrap;
   position: relative;   */
}
/* .stripe{
  height:calc(200px / 3);
  width:100%; 
} */
.black{
  background: black;
}
.red{
  background: red;
}
.orange{
  background: orange;
}