body{
  display: flex;
  width:100vw;
  height:100vh;
  justify-content: center;
  align-items: center;
  background: black;
  font-family: 'Poppins', sans-serif;
}
:root{
  --red:rgb(169,55,30);
  --white:#fff;
  --green:rgb(42,130,7);
  --height:150px;
  --circle-height:calc(var(--height) / 4);
}
.container{
  height:var(--height);
  width:calc(var(--height) * 7 / 6);
  background: black;
  display:flex;
  flex-wrap: wrap;
}
.box{
  width:100%;
  height:calc(var(--height) / 3);
}
.red-box{
  background: var(--red);
}
.white-box{
  background: var(--white);
  display:flex;
  justify-content: center;
  align-items: center;
}
.green-box{
  background: var(--green);
}
.circle{
  width:calc(var(--circle-height));
  height:calc(var(--circle-height));;
  border-radius: 100%;
  background: var(--red);
}